<h1>The Czech refugees who arrived by plane will stay.</h1>
<p>
	<i>From our London correspondents
  London, Friday.
	</i>
</p>
<p>
	The adventure of eleven refugees of Czech nationality, who reached Croydon on Wednesday, were detained there, and were to be returned by ship to Denmark yesterday, had a happy ending. The Jewish Aid Committee for refugees from Germany, which had not accepted responsibility for refugees from Czechoslovakia until recently, decided today to provide the necessary guarantees for them as an exceptional measure so that they could be accepted into the country.
</p>
<p>
	We are learning from the authorities that this group arrived from Krakow in Poland in a rented plane, with a stopover in Copenhagen. […]
</p>
<p>
	Local border guards [in Croydon] consulted the Ministry of the Interior, which turned to refugee committees, who did not know anything about this group and were not ready to sponsor them. As a result, these eleven people were detained and they were to be sent back by ship to Copenhagen.
</p>
<p>
	It may be assumed that this group made a desperate attempt to enter our country due to the new visa system for Czechs arriving in England, which should take effect on 1 April and which was announced in January. […]
</p>
<p>
	There are lots of stories circulating about the number of refugees returned during this week. I have acquired these numbers. The total number of foreigners of all categories arriving in Croydon on Wednesday was 257, of which 118 were Germans and 45 were Czechs. 10 were rejected, all of them Czechs. 241 foreigners landed in Croydon yesterday, of whom 82 were Germans and 81 were Czechs. 20 Czechs were rejected entry.
</p>
